* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  color: #000;
}

.sell-wrapper {
  $base-gray: rgb(245, 245, 245);
  $base-dark-gray: #ccc;
  $base-red: #ff0211;
  $base-blue:  #0095ee;
  $base-black: rgb(51, 51, 51);
  $base-border1: 1px solid rgba(51, 51, 51, 0.1);
  
  @mixin flex($j-content: center, $al-items: center) {
    display: flex;
    justify-content: $j-content;
    align-items: $al-items;
  }

  background-color: $base-gray;
  font-size: 14px;

  a {
    text-decoration: none;
  }

  img, i {
    display: inline-block;
  }

  .header {
    height: 128px;
    width: 100%;
    @include flex();
  }

  .main {
    width: 100%;
    background-color: $base-gray;
    .content {
      width: 700px;
      margin: 0 auto;
      background-color: white;
      .box {
        padding: 40px;
        border-bottom: $base-border1;
        .flex-box {
          @include flex($j-content: left);
        }
        .alert {
          margin-bottom: 30px;
        }
        .alert-warning {
          color: $base-red;
          ul {
            list-style: none;
          }
        }
        &__margin {
          height: 30px;
        }
        &__info {
          color: rgb(136, 136, 136);
          font-weight: 600;
          margin-bottom: 24px;
          @include flex($j-content: left);
          &--link {
            font-weight: normal;
            color: $base-blue;
            height: 14px;
            width: 14px;
            font-size: 12px;
            margin-left: 5px;
            border: 1px solid $base-blue;
            border-radius: 14px;
            cursor: pointer;
            @include flex();
          }
        }
        &__title {
          @include flex($j-content: left);
          font-weight: bold;
          margin-bottom: 16px;
          span {
            margin-left: 8px;
            padding: 0 4px;
            font-size: 12px;
            line-height: 1.4em;
            color: white;
            border-radius: 2px;
          }
          &--required {
            background-color: $base-red;
          }
          &--optional {
            background-color: $base-dark-gray;
          }
        }
        &__file-info {
          margin-bottom: 16px;
        }
        &__file {
          display: flex;
          justify-content: space-between;
          &__img {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &__wrapper {
              width: 100px;
              margin-right: 5px;
              border: $base-border1;
              img {
                background-color: $base-gray;
                height: 120px;
                width: 100px;
                object-fit: contain;
                vertical-align: bottom;
                border-bottom: $base-border1;
              }
              &__delete {
                height: 30px;
                width: 100px;
                line-height: 30px;
                text-align: center;
                background-color: $base-gray;
                color: $base-blue;
                cursor: pointer;
                &:hover {
                  opacity: 0.7;
                }
              }
            } 
          }
          &__field {
            height: 150px;
            width: 100%;
            background-color: $base-gray;
            border: 1px dashed rgb(204, 204, 204);
            cursor: pointer;
            @include flex();
            flex-direction: column;
            position: relative;
            z-index: 0;
            &--file {
              width: 100%;
              height: 100%;
              outline: none;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              opacity: 0;
              cursor: pointer;
            }
            i {
              font-size: 1.5em;
            }
            p {
              margin-top: 5px;
              text-align: center;
              font-size: 12px;
              color: $base-black;
            }
          }
        }
        &__unit {
          margin-left: auto;
          margin-right: 5px;
          line-height: 48px;
        }
        &__input {
          height: 48px;
          width: 100%;
          border: 1px solid $base-dark-gray;
          border-radius: 4px;
          font-size: 16px;
          padding: 0 56px 0 16px;
          outline: none;
        }
        .input-price {
          width: 285px;
          padding: 0 16px;
          text-align: right;
        }
        textarea {
          padding: 13px 16px;
          height: 154px;
        }
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url('material/icon/angle-down.png');
          background-repeat: no-repeat;
          background-size: 30px 30px;
          background-position: right 10px center;
          background-color: white;
        }
        &__sell-info {
          @include flex($j-content: space-between);
          height: 46px;
          margin: 12px 0;
          color: $base-black;
        }
        #sell-profit-box {
          border-top: $base-border1;
        }
        &__btn-wrapper {
          margin-bottom: 32px;
          .btn {
            height: 48px;
            width: 360px;
            font-size: 17px;
            font-weight: 600;
            cursor: pointer;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 4px;
            @include flex();
          }
          .btn:hover {
            opacity: 0.6;
          }
          &__submit {
            background-color: $base-red;
            color: white;
            margin: 0 auto 24px;
          }
          &__back {
            background-color: $base-dark-gray;
            color: black;
            margin: 0 auto;
            @include flex();
          }
        }
        &__attention {
          font-size: 12px;
          a {
            color: $base-blue;
            word-break: keep-all;
            display: inline-block;
            cursor: pointer;
          }
          a:hover {
            text-decoration: underline;
            opacity: 0.6;
          }
        }
      }
    }
  }

  .footer {
    text-align: center;
    width: 100%;
    padding: 40px 0 40px;
    ul {
      list-style: none;
      @include flex();
      li {
        font-size: 12px;
        margin: 0 7px;
        a {
          color: $base-black;
        }
        a:hover {
          text-decoration: underline;
          opacity: 0.6;
        }
      }
    }
    .footer--logo {
      display: inline-block;
      margin-top: 30px;
    }
    p {
      font-size: 12px;
    }
  }
}