* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  color: #000;
}

.show-wrapper {
  $base-blue: #3CCACE;
  $base-black: #333;
  $table-border-color: #dedede;

  @mixin flex($j-content: center, $al-items: center) {
    display: flex;
    justify-content: $j-content;
    align-items: $al-items;
  }
  
  .brand-wrapper {
    width: 100%;
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    padding: 0 60px;
    ul {
      padding: 17px 0 16px;
      width: 100%;
      max-width: 1040px;
      font-size: 14px;
      margin: 0 auto;
      @include flex($j-content: left);
      list-style: none;
      li {
        padding: 0 10px 0 0;
        a {
          text-decoration: none;
          color: $base-black;
        }
        i {
          display: inline-block;
        }
      }
    }
  }
  
  .main {
    background-color: #f8f8f8;
    margin-bottom: 30px;
    &__content {
      margin: 0 auto;
      width: 700px;
      &__main {
        background-color: white;
        padding: 24px 40px 40px;
        &__item-box {
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__image {
            margin-top: 16px;
            &__images {
              list-style: none;
              text-align: center;
               &__image {
                
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 560px;
                margin: 0 auto;
                ul {
                  
                  justify-content: center;
                  align-items: center;
                  margin-top: 10px;
                  li {
                    margin-right: 10px;
                    img {
                      height: 120px;
                      width: 120px;
                    }
                  }
                }
              }
            }
          }
        &__price {
          margin: 24px 0 24px;
          @include flex();
          flex-direction: column;
          &-price {
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &-detail {
            font-size: 16px;
          }
        }
        &__detail {
          font-size: 18px;
          margin-bottom: 30px;
        }
        &__table {
          margin-bottom: 20px;
          table {
            width: 100%;
            height: 375px;
            tr {
              th {
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid $table-border-color;
                font-size: 14px;
                text-align: center;
              }
              td {
                width: 61%;
                padding: 15px 15px;
                border: 1px solid $table-border-color;
                font-size: 14px;
                a {
                  text-decoration: none;
                  color: $base-blue;
                }
              }
            }
          }
        }
        &__option {
          @include flex($j-content: space-between);
          &__like {
            margin-top: 10px;
            &__btn {
              cursor: pointer;
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: $base-blue;
              border: 1px solid #ffb340;
              i {
                display: inline-block;
              }
            }
          }
          &__optional {
            margin-top: 10px;
            &__btn {
              font-size: 14px;
              a {
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: $base-black;
                border: 1px solid $base-black;
                text-decoration: none;
                i {
                  display: inline-block;
                }
              }
            }
          }
        }
        }
        &__comment-box {
          padding: 24px;
          background-color: white;
          margin: 10px 0;
          text-align: center;
          form {
            textarea {
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            p {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            button {
              font-size: 18px;
              margin-top: 20px;
              line-height: 48px;
              background: $base-blue;
              border: 1px solid $base-blue;
              color: white;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              cursor: pointer;
              i {
                display: inline-block;
              }
            }
          }
        }
      }
      &__links {
        list-style: none;
        @include flex($j-content: space-between);
        margin-top: 10px;
        li {
          a {
            text-decoration: none;
            color: $base-blue;
            i {
              display: inline-block;
            }
          }
        }
      }
      &__read-items {
        a {
          display: block;
          margin: 24px 0 8px;
          color: $base-blue;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
      }
    }
  }
}

.bttn {
  padding:8px 20px;
  font-size: 14px;
  border: 2px solid rgb(212, 96, 42);
  color: rgb(238, 156, 34);
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  width:100%;
&:hover {
  border-color: lighten(rgb(47, 211, 96), 15%);
  color: lighten(rgb(11, 173, 60), 15%);
}
}

.button {
  padding:8px 20px;
  font-size: 14px;
  border: 2px solid rgb(212, 96, 42);
  color: rgb(238, 156, 34);
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  width:170px;
&:hover {
  border-color: lighten(rgb(47, 211, 96), 15%);
  color: lighten(rgb(11, 173, 60), 15%);
}
}


.owl-stage-outer{
  overflow-x: auto;
}

.owl-stage {
  display: flex;
}



