.main {
  background-color: #ccc;
  width: 100vw;
  height: 690px;

  .contents {
    height: 500px;
    width: 700px;
    margin: 0 auto;
    background-color: white;

    .content {
      height: 70%;
      width: 100%;
      p {
        // line-height: 70%;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
      }
    }

    .confirm-btn {
      width: 100%;
      height: 30%;
      margin: 0 auto;
      .button {
        height: 50px;
        width: 50%;
        background:  #3CCACE;;
        border: 1px solid  #3CCACE;
        border-radius: 100px;
        cursor: pointer;
        p {
          color: white;
          font-size: 25px;
        }
      }
    }
  }
}