.main{
  display: block;
  &_var{
    // width: 100%;
    max-width: 456px;
    margin: 70px auto 0;
    background: #fff;
    text-align: center;
    input{
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px 16px 8px;
      line-height: 1.5;
      margin-top: 10px;
    }
  }
}