/* ナビ */
.mypage-wrapper {
  $base-blue: #3CCACE;
  $base-black: #333;
  $table-border-color: #dedede;

  @mixin flex($j-content: center, $al-items: center) {
    display: flex;
    justify-content: $j-content;
    align-items: $al-items;
  }
  
  .brand-wrapper {
    width: 100%;
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    padding: 0 60px;
    ul {
      padding: 17px 0 16px;
      width: 100%;
      max-width: 1040px;
      font-size: 14px;
      margin: 0 auto;
      @include flex($j-content: left);
      list-style: none;
      li {
        padding: 0 10px 0 0;
        a {
          text-decoration: none;
          color: $base-black;
        }
        i {
          display: inline-block;
        }
      }
    }
  }
}
/* プロフィール */
.mypage {
  height: 1000px;
  width: 100vw;
  padding: 0 20%;
  background-color: #f8f8f8;
  $base-blue: #3CCACE;
  $base-black: #333;
  $table-border-color: #dedede;

  @mixin flex($j-content: center, $al-items: center) {
    display: flex;
    justify-content: $j-content;
    align-items: $al-items;
  }

  .mymain {
    height: 1000px;
    padding: 50px 0;
    position: relative;
    .myleft {
      height: calc(100% - 10%);
      width: calc(100% - 75%);
      margin: 0 10px;
      float: left;
      ul {
        height: auto;
        width: 100%;
        background-color: white;
        li {
          height: 50px;
          width: 100%;
          line-height: 50px;
          padding: 0 10px;
          border: 1px solid #f8f8f8;
          font-size: 14px;
          cursor: pointer;
          a {
            position: relative;
            i {
              position: absolute;
              line-height: 50px;
              color: #b6b5b5bb;
              left: 230px;
            }
          }
        }
      }
      h3 {
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 5px;
        background-color: #f8f8f8;
      }
    }
    .myright {
      height: calc(100% - 10%);
      width: calc(100% - 30%);
      background-color:white;
      float: right;
      p {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
      }
      .right-top {
        height: 300px;
        width: 100%;
        background-image: image-url('bg-mainVisual-pict.jpg');
        background-size: cover;
        &__bg-mask {
          height: 100%;
          background: rgba(255,255,255,0.5);
          padding-top: 20px;
          &--avatar {
            height: 200px;
            width: 200px;
            background-image: image-url('icon-01.png');
            background-size: cover;
            background-color: white;
            border-radius: 100px;
            margin: auto;
            border: 1px solid #f8f8f8;
          }
          &--nickname {
            width: 50%;
            background-color: white;
            margin: 10px auto;
            border-radius: 50px;
            border: 1px solid #f8f8f8;
          }
        }
      }
      .preface {
        padding: 20px;
        textarea {
          width: 100%;
          min-height: 300px;
          padding: 10px;
          margin-top: 10px;
        }
      }
      .change-btn {
        width: 100%;
        padding: 0 20%;
        button {
          font-size: 18px;
          margin-top: 20px;
          line-height: 48px;
          background: $base-blue;
          border: 1px solid $base-blue;
          color: white;
          width: 100%;
          font-size: 18px;
          border-radius: 100px;
          cursor: pointer;
        }
      }
    }
  }
}
