.devise-sessions-wrapper {
  height: 600px;
  .main {
    display: block;
    background-color: white;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    &_var{
      height: 500px;
      max-width: 456px;
      margin: 100px auto 200px;
      text-align: center;
      padding-top: 60px;
      p{
        font-size: 16px;
        margin:10px auto;
      }
      .new_registrations{
        padding: 24px 32px;
        display: block;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: #fff;
        line-height: 0;
        width: 70%;
        height: 50px;
        margin: 0 auto;
        cursor: pointer;
        a{
          text-decoration: none;
          color: white;
        }
      }
      .field{
        margin-top: 15px;
      }
      input{
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px 16px 8px;
        line-height: 0;
        margin-top: 10px;
        width: 70%;
        height: 48px;
      }
      .actions{
        height: 50px;
        input{
          margin: 24px 0 0;
          width: 70%;
          height: 50px;
          cursor: pointer;
        }
      }
      .btn{
        background: #0dd689f8;
        border: 1px solid #0dd689f8;
        color: #fff;
      }
    }
  }
}
